body {
    width: 750px;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

.Upper {
    display: flex;
    background-color: #2D7053;
}
.ellipse {
    margin: 45px 0px 48px 37px;
}

.name {
    margin: 45px 0px 48px 37px;
}

.Line {
    width: 134px;
    height: 131px;
    font-size: 30px;
    color: #ffffff;
    margin: 45px 0px 0px 58px;
}

.Line1 {
    margin-top: 83px;
    margin-left: 250px;
}

.Line2 {
    margin-top: 15px;
    margin-left: 250px;
}

.Line3 {
    margin-top: 15px;
    margin-left: 250px;
}
.button {
    height: 466px;
    background-image: url (./0325115cfca2f08bd19529e1d4a4396a@1X.png)
    background-position: center left;
    background-origin: border-box;
}

.button1 {
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    border: none;
    margin-left: 205px;
    margin-top: 345px;
}

.knob {
    color: white;
    text-align: center;
    text-decoration-line: none;
    font-size: 16pt;
}
.information {
    display: flex;
}

.woman {
    display: flex;
    margin-top: 73px;
    margin-left: 44px;
    border-radius: 50%;
}

.info{
    display: flex;
    margin-top: 134px;
    margin-left: 75px;
}
.name1 {
    font-size: 36px;
}

.work {
    margin-top: 25px;
    font-size: 24px;
}

.story {
    margin-top: 60px;
    margin-left: 44px;
    font-size: 24px;
}

.story1 {
    margin-left: 44px;
    font-size: 36px;
}

.list{
    margin-left: 44px;
    font-size: 24px;
}

.button2 {
    width: 341px;
    height: 74px;
    background-color: #cb9223;
    border: none;
    margin-left: 218px;
    margin-top: 20px;
    margin-bottom: 50px;
}

.knob {
    display: flex;
    flex-direction: row;
    height: 154px;
    width: 751px;
}

.bottom{
    display: flex;
    flex-direction: row;
    height: 153px;
    width: 750px;


.ellipse1 {
    width: 185px;
                background-color: #888888;
                padding: 0px;
                font-size: 1rem;
                color: white;

.address {
    width: 750px;
    background-color: #888888;
    padding: 0px;
    font-size: 1rem;
    color: white;
    padding-top: 103px;
    padding-left: 140px;
}

.text {
    width: 185px;
    background-color: #888888;
    padding: 0px;
    font-size: 1rem;
    color: white;
}

.number {
    {
        display: block;
        margin-right: 44px;
        padding-top: 57px;

                
}

.email {
    display: block;
    margin-left: 44px;
    margin-top: 28px;
    text-decoration: none;

    

}
